@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css or similar */
.background-image {
    background-image: url('../components/graphics/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 935px;
    z-index: -1; 
    opacity: 0.8;
   
  }
  
  .content {
    position: relative;
    z-index: 1; 
  }

.card-hover:hover {
    transform: scale(1.05);
    z-index: 10;
    transition: transform 0.3s ease, z-index 0.3s ease;
  }
  
  .card-container {
    transition: transform 0.3s ease, z-index 0.3s ease;
  }
  